/* @import '../../variables.css'; */

.profile-header {
  min-width: var(--profile-header-min-width);
  max-width: var(--profile-header-max-width);
  min-height: var(--profile-header-min-height);
  max-height: var(--profile-header-max-height);
}

.profile-header img {
  min-width: var(--profile-header-img-min-width);
  max-width: var(--profile-header-img-max-width);
  min-height: var(--profile-header-img-min-height);
  max-height: var(--profile-header-img-max-height);
}

.profile-body-header {
  margin-bottom: 12px;
}

.profile-avatar {
  display: var(--profile-avatar-display);
  border-radius: var(--profile-avatar-border-radius);
  overflow: var(--profile-avatar-overflow);
  width: var(--profile-avatar-width);
  height: var(--profile-avatar-height);
  margin-top: -55px;
  position: relative;
  border: 1px solid var(--accent-color);
}
.profile-avatar img {
  width: var(--profile-avatar-img-width);
  height: var(--profile-avatar-img-height);
  object-fit: var(--profile-avatar-img-object-fit);
}

.profile {
  border-radius: 16px;
  overflow: hidden;
}

.profile-body {
  padding-left: 30px;
  font-family: var(--text-font);
  background-color: var(--main-color);
}

.profile-name {
  font-size: var(--text-size-h3);
  margin-bottom: 8px;
}

.profile__registration-date {
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.followers {
  display: inline-flex;
}

.followers__item {
  width: fit-content;
  margin-right: 12px;
}

.profile-links {
  margin-top: 24px;
  justify-content: center;
  /* display: inline-flex; */
}

.profile-links a {
  color: var(--secondary-text-color);
  margin-right: 12px;
}

.profile-links .active-href {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
  color: var(--text-color);
}
