{{#each items}}
  <div class='card'>
    {{#if MediaUrl}}
    <div class="card-img">
        <img src="{{MediaUrl}}">
    </div>
    {{/if}}
    <div class='card-content'>
      <p class='card-content__header'>{{Title}}</p>
      <p class='card-content__text'>{{Body}}</p>
    </div>
  </div>
{{/each}}
