{{#each items}}
  <div class='card'>
    {{#if imageUrl}}
    <div class="card-img">
        <img src="{{imageUrl}}">
    </div>
    {{/if}}
    <div class='card-content'>
      <p class='card-content__header'>{{title}}</p>
      <p class='card-content__text'>{{description}}</p>
    </div>
  </div>
{{/each}}
