{{#each items}}
  <div class='card'>
    {{#if media-url}}
    <div class="card-img">
        <img src="{{media-url}}">
    </div>
    {{/if}}
    <div class='card-content'>
      <p class='card-content__header'>{{title}}</p>
      <p class='card-content__text'>{{body}}</p>
    </div>
  </div>
{{/each}}
