@import './components/Cards/cards.css';
@import './variables.css';

body {
  margin: 0;
  background-color: var(--background-color);
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content__feed {
  margin: var(--main-content-feed-margin);
  display: flex;
  flex-direction: column;
  gap: var(--main-content-feed-gap);
  margin-left: var(--main-content-feed-margin-left);
  margin-right: var(--main-content-feed-margin-right);
  max-width: var(--main-content-feed-max-width);
}
