/* @import '../../variables.css'; */

.card {
  background-color: var(--main-color);
  display: flex;
  padding: var(--space-xs);
  width: 100%;
  box-sizing: border-box;
  min-height: var(--card-min-height);
  max-height: var(--card-max-height);
  gap: var(--space-xs);
  border-radius: var(--border-radius-m);
}

.card-img {
  min-width: var(--card-img-min-width);
  max-width: var(--card-img-max-width);
  max-height: 100%;
  height: var(--card-img-height);
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-m);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding-bottom: var(--space-xs);
  overflow: hidden;
}

.card-content p {
  line-height: var(--line-height-s);
  font-family: var(--text-font);
  margin-top: var(--space-null);
}

.card-content__header {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size-xl);
  margin-bottom: var(--space-m);
}

.card-content__text {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
  overflow: hidden;
}
