@import '/public/variables.css';

.auth-form {
  margin-top: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m);
  background-color: var(--main-color);
  border-radius: var(--border-radius-m);
}

.auth-form-links {
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
}

.active-href {
  color: var(--hover-color);
  text-decoration: underline;
}

.disabled-href {
  color: var(--hover-color);
  text-decoration: none;
}

.auth-form-header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--accent-color);
}

.auth-form-header p {
  color: var(--accent-color);
}

.auth-form-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.auth-form-inputs input {
  padding: 10px;
  border-radius: 5px;
  font-size: var(--text-size-xs);
}

.input-correct {
  border: 1.5px solid var(--secondary-text-color);
}

.input-error {
  border: 1.5px solid var(--error-color);
}

.label-hint {
  font-size: var(--text-size-xs);
  color: var(--text-color);
}

.label-error {
  font-size: var(--text-size-xs);
  color: var(--error-color);
}

.auth-form-inputs button {
  padding: 10px;
  border-radius: 5px;
  color: var(--main-color);
  border: 0 none;
  background-color: var(--accent-color);
}

.password-rules {
  line-height: var(--line-height-s);
  font-size: var(--text-size-xs);
  color: var(--secondary-text-color);
}
