<div class="header">
    <div class="header-content">
    <div class="header-logo">
        DEAD-VC
    </div>
    <div class="header-buttons">
        <button id="enter-button">Войти</button>
    </div>
    </div>
</div>