<div class="header">
    <div class="header-content">
    <div class="header-logo">
        DEAD-VC
    </div>
    <div class="header-buttons">
        {{#if user.isAuthorized}}
        <button id="logout-button">Выйти</button>
        <p>{{user.email}}</p>
        {{else}}
        <button id="enter-button">Войти</button>
        {{/if}}
    </div>
    </div>
</div>